.App {
  background-color: rgb(24,24,24);
  height: 100vh;
  overflow: hidden;
}

.App-header {
  text-align: center;
  background-color: rgb(24,24,24);
  height: 100px;
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 70px;
}

.Product-Form {
  float: left;
  text-align: center;
  width: 50%;
}

.Counter {
  color: white;
}

.Counter-button {
  margin: 10px;
  width: 40px;
  height: 40px;
  background-color: rgb(32,43,56);
  border: 0;
  color: white;
}

.Logo-block {
  text-align: center;
}

.Product-button {
  background-color:rgba(0, 0, 0, 0);
  border: 0;
  margin: 10px;
}

.Product-logo {
  height: 50px;
}

.Available-logos {
  display: inline-block;
  width: 50%;
  background-color: rgb(52,73,94);
}

.Add-to-list-button {
  width: 120px;
  height: 40px;
  margin: 15px;
  background-color: rgb(52,73,94);
  border: 0;
  color: white;
  font-size: 18px;
}

.Add-to-list-button[disabled]  {
  width: 120px;
  height: 40px;
  margin: 20px;
  background-color: rgb(52,73,94);
  border: 0;
  font-size: 18px;
  color: gray;
}

.Product-List {
  float: right;
  text-align: center;
  width: 50%;
}

.All-Items {
  margin-top: 20px;
}

.Product-Item {
  position: relative;
  margin-bottom: 1px;
  display: inline-block;
  width: 95%;
  background-color: rgb(52,73,94);
}

.Product-Item:hover {
  position: relative;
  margin-bottom: 1px;
  display: inline-block;
  width: 95%;
  background-color: #222;
}

.Item-name-and-actions {
  height: 20px;
  margin: 10px;
}

.Item-name {
  position: absolute;
  height: 10%;
  width: 95%;
  color: white;
  float: left;
  align-items: center;
}

.Item-actions {
  position: relative;
  float: right;
  height: 100%;
  width: 10%;
}

.Delete-logo {
  height: 20px;
  width: 50%;
}

.Link-logo {
  height: 20px;
  width: 50%;
}

.Item-logo-section {
  position: absolute;
  top: 30%;
  float: left;
  width: 15%
}

.Item-logo {
  height: 50px;
}

.Item-logo-and-counter {
  color: white;
}

.Item-price {
  margin: 10px;
  color: white;
  font-size: 14px;
}

.Total {
  text-align: left;
  color: white;
  margin: 10px;
}

.Product-Preview {
  float: right;
  text-align: center;
  width: 50%;
}

.Product-Preview-logo {
  height: 100px;
  margin: 20px;
}

.Product-Preview-home-button {
  width: 120px;
  height: 40px;
  margin: 20px;
  background-color: rgb(52,73,94);
  border: 0;
  color: white;
  font-size: 18px;
}

h1 {
  color: white;
  margin-bottom: 10px;
}

h2 {
  color: gray;
}

h3 {
  color: white;
  margin: 10px;
}

input {
  font-size: 20px;
  color: white;
  size: 24;
  width: 95%;
  height: 40px;
  background-color: rgb(52,73,94);
  border: 0;
  margin: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
